### Nested Lists

Given the names and grades for each student in a class of Nstudents, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

#### Input Format:

The first line contains an integer, N, the number of students.
The 2N subsequent lines describe each student over lines.
- The first line contains a student’s name.
- The second line contains their grade.


#### Constraints:

- 2≤N≤5
- There will always be one or more students having the second lowest grade.

#### Output Format

Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

#### Sample Input 0
```
5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
```

#### Sample Output 0

```
Berry
Harry
```

#### Explanation 0

There are students in this class whose names and grades are assembled to build the following list:

```python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]```

The lowest grade of 37.21 belongs to Tina. The second lowest grade of 37.21 belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

### Nested Lists - Answer

In [ ]:
if __name__ == '__main__':
    students_grade = []
    for i in range(int(input())):
        name = input()
        score = float(input())
        students_grade.append([name, score])

    second_lowest = sorted(list(set([grade for name, grade in students_grade])))[1]
    print('\n'.join(sorted([name for name, grade in students_grade if grade == second_lowest])))

### **Finding the percentage**

The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

####**Example**
*marks key:value pairs are*

'alpha':[20,30,40]
'beta': [30, 50, 70]
query_name: 'beta'

The **query_name** is 'beta'. beta's average score is (30 + 50 + 70)/3 = 50.0.

####**Input Format**
The first line contains the integer *n*, the number of students' records. The next *n* lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query.

####**Constraints**

*   2
*   Liste öğesi

####**Output format**

Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

####**Sample Input 0**

```
3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
```

####**Sample Output 0**


```
56.00
```

####**Sample Input 0**

```
2
Harsh 25 26.5 28
Anurag 26 28 30
Harsh
```

####**Sample Output 0**

```
26.50
```

In [ ]:
n = int(input())
student_marks = {}
for _ in range(n):
  name, *line = input().split()
  scores = list(map(float, line))
  student_marks[name] = scores
query_name = input()
print(format(sum(student_marks[query_name])/len(student_marks[query_name]),'.2f'))